<form style="min-height: 160px;" action="/upload/start" class="dropzone" id="startingPointDropzone"></form>
<script type="text/javascript">
jDepend.push(function() {
	DropZoneConfig.init('startingPointDropzone');
});
</script>