<div id="menu">
	<ul>
		<li class="<%= (active == 'index') ? 'active ' : ' ' %>cols-4"><a href="/"><i class="fa fa-home"></i> HOME</a></li>
		<li class="<%= (active == 'dash') ? 'active ' : ' ' %>cols-4"><a href="/dash"><i class="fa fa-road"></i> DASH</a></li>
		<li class="<%= (active == 'search') ? 'active ' : ' ' %>cols-4"><a href="/search"><i class="fa fa-search"></i> SEARCH</a></li>
		<li class="<%= (active == 'settings') ? 'active ' : ' ' %>cols-4"><a href="/settings"><i class="fa fa-cog"></i> SETTINGS</a></li>
	</ul>
</div>