<div id="user-info-bar">
  <div class="logo">
  	<span>BOS</span>tudio
  </div>
  <div class="user">
  	<div class="info"><i class="fa fa-user"></i> Alan Tirado</div>
  	<div class="dropdown">
	  <button class="btn dropdown-toggle btn-xs btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown">
	    <i class="fa fa-cog"></i>
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-wrench"></i> Settings</a></li>
	    <li role="presentation" class="divider"></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"><i class="fa fa-sign-out"></i> Logout</a></li>
	  </ul>
	</div>
  </div>
</div>