<!DOCTYPE html>
<html>
  <head>
    <title>Bureau Orchestration Studio [Demo]</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="token" content="<%= _csrf %>">

    <!-- Bootstrap 3.1.1 -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- /END -->

    <!-- FontAwesome 4.1.0 -->
    <link href="styles/font-awesome.min.css" rel="stylesheet">
    <!-- /END -->

    <!-- DataTable 1.10.0 -->
    <link href="js/libraries/datatables/bootstrap/datatable.bootstrap.css" rel="stylesheet">
    <!-- /END -->

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto|Pacifico' rel='stylesheet' type='text/css'>
    <!-- /END -->

    <link href="styles/main.css" rel="stylesheet">
    <script type="text/javascript">
    var jDepend = [];
    </script>

    <% if(process.env.NODE_ENV === 'development' && typeof test !== 'undefined') { %>
    <!-- DEVUSEONLY -->
    <link href="testing/mocha.css" rel="stylesheet">
    <!-- DEVUSEONLY -->
    <% } %>

    <!-- Modernizr.js 2.8.2 -->
    <script type="text/javascript" src="js/libraries/modernizr.custom.64378.js"></script>
    <!-- /END -->

    <!--[if lt IE 9]>
     <script src="/js/libraries/respond.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>

  <body>

    <%- partial('partials/userinfobar') %>
    <%- partial('partials/menu') %>

    <div class="wrapper">
      <div class="container">
        <%- body %>
      </div>
    </div>

    <div id="pageload">
        <div class="pl-message">One moment please...</div>
        <div class="pl-bars">
            <div class="pl-bar pl-bar1 nodisplay"><div style="width: 0%;"></div></div>
            <div class="pl-bar pl-bar2 nodisplay"><div style="width: 0%;"></div></div>
            <div class="pl-bar pl-bar3 nodisplay"><div style="width: 0%;"></div></div>
        </div>
    </div>

    <!-- Bootstrap 3.1.1 -->
    <script src="js/libraries/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- /END -->

    <script type="text/javascript" src="js/app.js"></script>
    <% if(process.env.NODE_ENV === 'development') { %>
    <script type="text/javascript">App.dev = true;</script>
    <% } %>
    <% if(process.env.NODE_ENV === 'development' && typeof test !== 'undefined') { %>
    <script type="text/javascript">App.test = true;</script>
    <% } %>
    <script type="text/javascript" src="js/libraries/chance.min.js"></script>
    <script type="text/javascript" src="js/libraries/socket.io.js"></script>
    <script type="text/javascript" src="js/libraries/sails.io.js"></script>
    <script type="text/javascript" src="js/libraries/moment.min.js"></script>
    <script type="text/javascript" src="js/libraries/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="js/libraries/datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="js/libraries/datatables/bootstrap/datatable.bootstrap.js"></script>
    <script type="text/javascript" src="js/load-indicator.js"></script>
    <script type="text/javascript" src="js/dropzone.js"></script>
    <script type="text/javascript">Dropzone.autoDiscover = false;</script>
    <script type="text/javascript" src="js/matrices.js"></script>
    <script type="text/javascript" src="js/filetracking.js"></script>
    <script type="text/javascript" src="js/file.js"></script>
    <script type="text/javascript" src="js/dropzone-config.js"></script>
    <script type="text/javascript" src="js/dash.js"></script>

    <% if(process.env.NODE_ENV === 'development' && typeof test !== 'undefined') { %>
    <!-- DEVUSEONLY -->
    <div id="mocha"></div>
    <div id="messages"></div>
    <div id="fixtures"></div>
    <script type="text/javascript" src="testing/mocha.js"></script>
    <script type="text/javascript" src="testing/chai.js"></script>
    <script type="text/javascript">mocha.setup('bdd')</script>
    <script type="text/javascript" src="testing/tests/app_test.js"></script>
    <!-- DEVUSEONLY -->
    <% } %>
    
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
