<div class="modal fade" id="matrices-modal" tabindex="-1" role="dialog" aria-labelledby="matricesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="matricesLabel">Matrices: <span class="file-name"></span></h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success action-accept">Accept</button>
        <button type="button" class="btn btn-danger action-reject">Reject</button>
      </div>
    </div>
  </div>
</div>