<div class="modal fade" id="trackorbackground-modal" tabindex="-1" role="dialog" aria-labelledby="trackOrBGLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="trackOrBGLabel">What would you like to do?</h4>
      </div>
      <div class="modal-body">
        <div><input type="radio" name="options" id="track" checked> Track the file</div>
        <div><input type="radio" name="options" id="background"> Run in background</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary action-go">Go!</button>
      </div>
    </div>
  </div>
</div>