// Styles that apply overall

body {
	background-color: @gray-lightest;
	color: @black;
}

#pageload {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: @pageload-bg;
	z-index: 1000;

	.pl-message {
		z-index: 1001;
		position: fixed;
		left: 0; right: 0;
		font-family: 'Pacifico', cursive;
		color: @pageload-messge-color;
		top: 40%;
		text-align: center;
		font-size: 30px;
	}

	.pl-bars {
		z-index: 1001;
		position: fixed;
		top: 50%; left: 50%;
		margin-left: (30px / 2) * -1;
		margin-top: (((5px * 3) + (5px * 2)) / 2) * -1;
		.pl-bar {
			&.nodisplay {
				opacity: 0;
			}
			width: 30px;
			height: 5px;
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}
			.border-radius(2px);
			overflow: hidden;
			background-color: @pageload-bar-bg;
			div {
				background-color: @pageload-bar-fg;
				height: 5px;
			}
		}
	}
}

.wrapper {
	float: left;
	margin-top: @menu-margin-top;
	padding-left: @menu-width + (@wrapper-top-gap / 2);
	padding-top: @wrapper-top-gap;
	width: 100%;
	.container {
		padding-bottom: @wrapper-top-gap;
		width: 100%;
	}
}

.row {
	margin-bottom: @row-margin;
}

@media (max-width: @small-devices)  {
	.wrapper {
		padding-left: 0;
	}
	div[class*='col-'] {
		margin-bottom: 10px;
	}
	div[class*='col-']:last-child {
		margin-bottom: 0;
	}
}