// Colors

@gray-lightest    : #FFFFFF;
@gray-light       : #EEEEEE;
@gray-darkest     : #515151;

@black            : #1B1B1B;

@blue-dark        : #3399CC;
@blue-light       : #67B8DE;
@blue-lightest    : #91C9E8;

@success-green    : #69DE68;
@error-red        : #DE6359;
@warning-yellow   : #e2de61;

// Colors - Assignment
@user-info-color  : @gray-lightest;

@menu-bg          : @gray-darkest;
@menu-border-color: @blue-lightest;
@menu-a-color     : darken(@gray-lightest, 10%);
@menu-a-border-color: lighten(@gray-darkest, 10%);
@menu-a-bg-hover  : @menu-a-border-color;
@menu-a-hover     : @gray-lightest;
@menu-a-active-bg : @blue-dark;

@flat-panel-color : @black;
@headings-color   : @black;

@pageload-bg      : @gray-lightest;
@pageload-bar-bg  : @gray-darkest;
@pageload-bar-fg  : @blue-light;
@pageload-messge-color : @blue-light;

@dz-bg            : @gray-light;
@dz-border-color  : @blue-light;
@dz-drag-hover-bg : @gray-darkest;
@dz-drag-hover-border: @blue-lightest;
@dz-message-color : @blue-dark;
@dz-message-color-hover: @gray-lightest;
@dz-preview-bg    : @gray-lightest;
@dz-progress-bar  : @blue-lightest;
@dz-progress-border: @blue-light;
@dz-preview-bg-error: darken(@dz-preview-bg, 5%);

@m-tracking-title : @blue-dark;

@dash-panel-bg    : @gray-darkest;
@dash-title-color : @gray-lightest;
@dash-s-arrival   : @blue-lightest;
@dash-table-bg    : @gray-light;
@dash-s-prep      : #B597EB;
@dash-s-validation: #FFCA9A;
@dash-s-load      : #FFEF9A;
@dash-s-load-qa   : #A1F494;

// Stacking Order [z-index]

@z-base           : 1;
@z-top            : 100;

// Font-Sizes

@logo-base        : 20px;
@logo-rate        : 1.3;

// Padding/Margin

@user-info-ver    : 5px;
@user-info-hor    : 10px;

@gap              : 10px;
@menu-margin-top  : (@user-info-ver * 2) + (@logo-base * @logo-rate) + @gap;
@wrapper-top-gap  : 30px;
@row-margin       : 15px;

@dz-preview-padding: 10px;

@dash-status-padding: 10px;

//## Panel Padding/Margin
@panel-padding    : 20px;

// Border Sizes

@user-info-border : 2px;

// Sizes

@menu-width       : 80px;

// Breakpoints

@small-devices    : 768px;