<div class="row">
	<div class="col-md-10">
		<div class="page-heading">
			<h1 class="hidden-xs hidden-sm">Dash <i>Welcome to the Bureau Orchestration Studio</i></h1>
			<h1 class="visible-xs visible-sm">Dash <i>Welcome to BOS</i></h1>
		</div>
	</div>
	<div class="col-md-2">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input type="search" class="form-control" placeholder="Search">
		</div>
	</div>
</div>

<div id="dash" class="row">
	<div class="col-md-2">
		<%- partial('../partials/dropzone') %>
	</div>
	<div class="col-md-2 dash-stage-arrival">
		<div class="dash-panel">
			<div class="dash-title">File Arrival</div>
		</div>
		<div class="dash-stage-status">
			<div class="status-first">
				<div class="status">Failed</div>
				<div class="number">0</div>
			</div>
			<div class="status-second">
				<div class="status">In Progress <span class="progress-spinner hidden"><i class="fa fa-spinner fa-spin"></i></span></div>
				<div class="number">0</div>
			</div>
			<div class="status-third">
				<div class="status">Completed</div>
				<div class="number">0</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 dash-stage-prep">
		<div class="dash-panel">
			<div class="dash-title">Data Prep</div>
		</div>
		<div class="dash-stage-status">
			<div class="status-first">
				<div class="status">Failed</div>
				<div class="number">0</div>
			</div>
			<div class="status-second">
				<div class="status">In Progress <span class="progress-spinner hidden"><i class="fa fa-spinner fa-spin"></i></span></div>
				<div class="number">0</div>
			</div>
			<div class="status-third">
				<div class="status">Completed</div>
				<div class="number">0</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 dash-stage-validation">
		<div class="dash-panel">
			<div class="dash-title">Validation</div>
		</div>
		<div class="dash-stage-status">
			<div class="status-first">
				<div class="status">Failed</div>
				<div class="number">0</div>
			</div>
			<div class="status-second">
				<div class="status">Validate <span class="progress-alert hidden"><i class="fa fa-exclamation-circle"></i></span></div>
				<div class="number">0</div>
			</div>
			<div class="status-third">
				<div class="status">Completed</div>
				<div class="number">0</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 dash-stage-load">
		<div class="dash-panel">
			<div class="dash-title">Load</div>
		</div>
		<div class="dash-stage-status">
			<div class="status-first">
				<div class="status">Failed</div>
				<div class="number">0</div>
			</div>
			<div class="status-second">
				<div class="status">In Progress <span class="progress-spinner hidden"><i class="fa fa-spinner fa-spin"></i></span></div>
				<div class="number">0</div>
			</div>
			<div class="status-third">
				<div class="status">Completed</div>
				<div class="number">0</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 dash-stage-load-qa">
		<div class="dash-panel">
			<div class="dash-title">Load QA</div>
		</div>
		<div class="dash-stage-status">
			<div class="status-first">
				<div class="status">Failed</div>
				<div class="number">0</div>
			</div>
			<div class="status-second">
				<div class="status">Validate <span class="progress-alert hidden"><i class="fa fa-exclamation-circle"></i></span></div>
				<div class="number">0</div>
			</div>
			<div class="status-third">
				<div class="status">Completed</div>
				<div class="number">0</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 dash-table" style="display: none;">
		<table id="dash-datatable" class="table table-striped table-bordered table-hover display">
			<thead>
	            <tr>
					<th>Bureau Member Name</th>
					<th>File Name</th>
					<th>File Arrival</th>
					<th>Validation</th>
					<th>Accpeted/Rejected</th>
					<th>Load Start</th>
					<th>Accpeted/Rejected</th>
					<th>Reverted</th>
	            </tr>
	        </thead>
	        <tbody></tbody>
	    </table>
    </div>
</div>