<div class="row">
	<div class="col-md-10">
		<div class="page-heading">
			<h1>Home <i>Welcome to the Bureau Orchestration Studio</i></h1>
		</div>
	</div>
	<div class="col-md-2">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-search"></i></span>
			<input type="search" class="form-control" placeholder="Search">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="flat-panel">
			<h4>BOS, what is it?</h4>
			<p>
				BOS provides online access to 
				our global consumer and commercial bureau 
				products and services. These products are designed to help make 
				informed decisions, target new customers, and identify cross-selling 
				opportunities.
			</p>
		</div>
	</div>
</div>